@model AgroCommerce.ViewModels.AnimalTypeViewModel
@{
    ViewData["Title"] = "AddAnimalType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


<h1>Add AnimalType</h1>

<form method="post" enctype="multipart/form-data">
    <h4>Set Up Farm.</h4>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Class"></label>
        <select id="classTgs" multiple="multiple" class="form-control" name="classTags"></select>
        <span asp-validation-for="Class" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Breed"></label>
        <select id="breedTgs" multiple="multiple" class="form-control" name="breedTags"></select>
        <span asp-validation-for="Breed" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" id="submitButton" onclick="return validate()">Add Animal Type</button>
</form>

<script>
    $(document).ready(function () {

        $("#classTgs").select2({
            tags: true,
            tokenSeparators: [',']
        });
        $("#breedTgs").select2({
            tags: true,
            tokenSeparators: [',']
        });
    });
</script>