@model AgroCommerce.ViewModels.AnimalTypeViewModel
@{
    ViewData["Title"] = "EditAnimalType";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<h1>Edit AnimalType</h1>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="ID" hidden />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Class"></label>
        <select id="classTgs" multiple="multiple" class="form-control" name="classTags">
            @foreach (var item in ViewBag.ClassTags)
            {
                <option selected="selected">@item</option>
            }
        </select>
        <span asp-validation-for="Class" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Breed"></label>
        <select id="breedTgs" multiple="multiple" class="form-control" name="breedTags">
            @foreach (var item in ViewBag.BreedTags)
            {
                <option selected="selected">@item</option>
            }
        </select>
        <span asp-validation-for="Breed" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" >Save</button>
</form>

<script>
    $(document).ready(function () {

        $("#classTgs").select2({
            tags: true,
            tokenSeparators: [',']
        });
        $("#breedTgs").select2({
            tags: true,
            tokenSeparators: [',']
        });
    });
</script>