
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminDashBoardLayout.cshtml";
}

<h1>Index</h1>

<a asp-action="AddAnimalType" class="btn btn-info">Create New</a>
<a asp-action="AnimalTypes" class="btn btn-info">View All</a>