@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}
<style>
    body {
    }

    .loginPage {
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        background: $gray-200;
        display: flex;
        height: 88vh;
        justify-content: center;
    }
</style>

<div class="login-box loginPage">

    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class=" login-logo">Login</p>
            <hr>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Email" class="form-control" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Password" class="form-control" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </div>
                </div>
            </form>

            <p class="mb-0">
                <a id="forgot-password" asp-page="./ForgotPassword" class="text-center">Forgot your password?</a>
            </p>
            <p class="mb-0">
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
