
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SellerDashboardLayout.cshtml";
}

<h1>Index</h1>
<p>@ViewBag.Farm</p>
<a asp-action="SetUpFarm" class="btn btn-outline-info">Set Up Farm</a>