@{
    ViewData["Title"] = "Home Page";
}

    @if(ViewBag.ActiveFeaturedLis != null){
    <div class="card" style="width: 18rem;">
        <img src="@Url.Content(ViewBag.ActiveFeaturedList.ImagePath)" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@ViewBag.ActiveFeaturedList.Title</h5>
            <p class="card-text">@ViewBag.ActiveFeaturedList.Location | @ViewBag.ActiveFeaturedList.Price</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    }

<a asp-action="SetUpFarm" asp-controller="Seller" class="btn btn-outline-info">Set Up Farm</a>